@charset "UTF-8";

div,span{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
}

#d1{
    display: none;
    /*visibility: hidden;*/
}

#s1{
    display: inline;
}

#d2{
    display: inline;
}

#s2{
    display: inline-block;
}