@charset "UTF-8";

table,td,th {
    border: 1px solid black;
}

table {
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: right;
    /*border-spacing: 20px 10px;*/
    empty-cells: hide;
}

th {
    background-color: lightskyblue;
    color: white;
}

tr:nth-child(even){
    background-color: lightseagreen;
}