@charset "UTF-8";

:root{
    --fontePadrao: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --corTitulo:rgb(180, 180, 89);
}

body{
    background-image: url(imagens/fundo.png);
}

.navbar{
    background-color: rgb(200, 224, 132);
    height: 40px;
    padding: 10px 0px 0px 10px;
    width: 880px;
}

.linkmenu{
    text-decoration: none;
    font-family: var(--fontePadrao);
    color: rgb(110, 158, 48);
    font-size: 20px;
}

.barra{
    font-weight: bold;
    margin: 8px;
    font-size: 18px;
}

.sobre{
    background-color: rgb(246, 248, 215);
    padding: 10px;
    width: 880px;
}

.sobre p{
    font-size: 18px;
}

.titulo{
    font-size: 24px;
    color: var(--corTitulo)
}

.header{
    width: 50%;
    margin: auto;
}

.headertexto{
    text-align: center;
    font-weight: bold;
}

.imgcampanha{
    border: 5px solid var(--corTitulo);
}

.contato p{
    margin: 0;
}