@charset "UTF-8";

body {
    background-color: rgb(236, 229, 219);
}

h1 {
    text-align: right;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h1#prin {
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
p {
    text-indent: 30px;
}
.delta {
    text-align: left;
    background-color: bisque;
}

.destaque {
    background-color: rgba(194, 194, 80, 0.514);
}

/* 
em html é id = em CSS é # (sendo um elemento)
em html é class = em CSS é . (sendo vários elementos)
*/