@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}

th,
td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr:hover{
    background-color: rgb(215, 241, 241);
}

.numero{
    text-align: right;
}